<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .image-container {
    flex: 1;
    text-align: center;
  }

  .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .inner-container {
    flex: 1;
    text-align: center;
    margin-left: 20px;
    flex-direction: column;
  }

  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
  }

  html,
  body {
    background-color: #F2F7FD;
    transition: all 0.3s;
    height: 100%;
  }

  .social-menu {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .social-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    transition: 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .social-menu a:hover {
    transform: translateY(-5px);
    text-decoration: none;
    background-color: #0077b5;
  }
  
</style>



<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Samay's Blog</title>
  <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</head>
<body>
    
<%- include("partials/header"); -%>
  <div class="image-container">
      <img src="https://img.freepik.com/free-vector/contact-us-concept-illustration_114360-2299.jpg?w=2000">
  </div>
  <div class="inner-container">
      <h1>Contact</h1>
      <p><%= contactContentVar %></p>
      <div class="social-menu">
        
          <a href="https://github.com/samaysonje" target="blank"><i class="fab fa-github github"></i></i></a>
          <a href="https://www.linkedin.com/in/samay-sonje-86795a1bb/" target="blank"><i class="fab fa-linkedin-in linkedin"></i></a>
          <a href="mailto:samaysonje87@gmail.com" target="blank"><i class="fas fa-envelope"></i></a>
          <a href="http://samaysonje.me/resume/" target="blank"><i class="fas fa-user"></i></a>
          <a href="https://www.instagram.com/samaysonje/" target="blank"><i class="fab fa-instagram instagram"></i></a>
          
      </div>
    
  </div>
  
</body>
</html>



<%- include("partials/footer"); -%>